<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">

		<listeners>
			<listener
				class-name="extentreport_class.ExtentReporterNG" />

			

		</listeners>
		
		
		
		<classes>
			<class name="groups.NewLoginTest" />
			<class name="groups.Testprierate" />
			<class name="groups.Testgroup1" />
			<class name="groups.Testgroup2" />
			<class name="groups.testNG_parameters" />
			<class name="groups.test2" />
			<class name="groups.test" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->